<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Create User</title><meta charset="UTF-8" /></head>
<body>
<h1>Create User</h1>
<form th:action="@{/admin/users}" method="post">
    <div><label>Username: <input name="username"/></label></div>
    <div><label>Password: <input type="password" name="password"/></label></div>
    <div>
        <label>Roles:</label>
        <div th:each="r : ${roles}">
            <input type="checkbox" th:value="${r.name}" name="roles" /><span th:text="${r.name}"></span>
        </div>
    </div>
    <button type="submit">Save</button>
    <a th:href="@{/admin/users}">Cancel</a>
</form>
</body>
</html> 